.about-image {
  width: 50%;
  margin-left: 20%;
  display: flex;
}

#about-Profile-picture {
  border-radius: 46%;
  width: 150px;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

.about-details-card {
  margin: 2rem;
}

#footer {
  background-color: black;
  height: 100px;
}

#menu-section {
  position: sticky;
  top: 0;
  z-index: 4;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.header-Title {
  width: 85vw;
  height: 100%;
  margin-top: -315px;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

#header-background-img {
  width: 100vw;
  height: 100vh;
}

.header-icon {
  width: 100px;
  padding: 30px;
}


#header-section {
  padding: 0;
}

.row {
  margin-bottom: 3px;
}

.header-text-effect {
  color: rgb(255, 250, 241);
  font-family: Impact;
  font-weight: bolder;
  line-height: 5vh;
  font-size: 1.3rem;
  text-shadow: 0px 0px 0 rgb(7, 7, -29), -1px 1px 0 rgb(-21, -21, -57),
    -2px 2px 0 rgb(-49, -49, -85), -3px 3px 0 rgb(-77, -77, -113),
    -4px 4px 0 rgb(-104, -104, -140), -5px 5px 0 rgb(-132, -132, -168),
    -6px 6px 0 rgb(-160, -160, -196), -7px 7px 0 rgb(-188, -188, -224),
    -8px 8px 0 rgb(-216, -216, -252), -9px 9px 0 rgb(-244, -244, -280),
    -10px 10px 90px rgba(108, 217, 206, 0.16),
    -10px 10px 90px rgba(108, 217, 206, 0.5),
    0px 0px 120px rgba(108, 217, 206, 0.2);
  word-spacing: 6px;
  -webkit-filter: drop-shadow(5px 5px 50px rgb(128, 229, 145));
  filter: drop-shadow(10px 10px 10px rgb(108, 217, 206));
}

.header-button-innerText {
  color: wheat;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  text-shadow: 0px 0px 0 rgb(7, 7, -29), -1px 1px 0 rgb(-21, -21, -57),
    -2px 2px 0 rgb(-49, -49, -85), -3px 3px 0 rgb(-77, -77, -113),
    -4px 4px 0 rgb(-104, -104, -140), -5px 5px 0 rgb(-132, -132, -168),
    -6px 6px 0 rgb(-160, -160, -196), -7px 7px 0 rgb(-188, -188, -224),
    -8px 8px 0 rgb(-216, -216, -252), -9px 9px 0 rgb(-244, -244, -280);
}

#projects-medium-large-screen-section {
  display: none;
}

.white-btn {
  border: 2px solid white;
  background-color: Transparent;
  background-repeat: no-repeat;
  margin-right: 10px;
  border-radius: 10%;
}

@media screen and (max-width: 285px) {
  .nav-wrapper li a {
    font-size: 10px;
  }
}

@media screen and (min-width: 400px) and (max-width: 530px) { 
  .header-text-effect {
    line-height: 5vh;
    font-size: 1.7rem;
}
}

@media screen and (min-width: 531px) and (max-width: 700px) { 
  .header-text-effect {
    line-height: 7vh;
    font-size: 2rem;
}
}

@media screen and (min-width: 701px) and (max-width: 900px) { 
  .header-text-effect {
    line-height: 8vh;
    font-size: 2.2rem;
}
}

@media screen and (min-width: 901px) {

  .carousel {
    height: 700px;
  }
  
  .carousel 
  .carousel-item  {
    width: 500px !important;
    height: 500px !important;
    margin-top: -100px;
    padding-bottom: -500px;
  }

  .header-text-effect {
    line-height: 8vh;
    font-size: 2.4rem;
}

.header-icon:hover {
  width: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(6px 5px 6px rgb(108, 217, 206));
}

#projects-medium-large-screen-section {
  display: block;
}

#projects-mobile-screen-section {
  display: none;
}

}
/* 

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  margin: auto 0;
}

#about {
  background-color: rgb(245, 245, 245);
  padding-top: 8vh;
  height: 110;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-row {
  padding-left: 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-image {
  width: 50%;
  margin-left: 20%;
  display: flex;
}

#id-about {
  font-size: 1.4vw;
}

.white-btn {
  border: 2px solid white;
  background-color: Transparent;
  background-repeat: no-repeat;
  margin-right: 10px;
  border-radius: 10%;
}
.card-about-details {
  margin: 4rem;
  padding: 10rem;
}

.card-about-profile {
  display: flex;
  padding: 10px;
  margin: auto 0;

}

.card-contact {
  padding: 10px;
  margin-top: 8px;
  height: 76vh;
  z-index: 2;
}

.centered {
  padding-top: 100px;
  float: left;
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  line-height: 18hv;
}

#contact {
  padding-top: 10vh;
  background-color: rgb(245, 245, 245);
  height: 110%;
}

footer {
  background-color: black;
  height: 100px;
}

#header-id {
  padding: 0;
  height: 100vh;
}

header {
  height: 100vh;
}

#background-img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.icon {
  width: 100px;
  padding: 30px;
}

.icon:hover {
  width: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(6px 5px 6px rgb(108, 217, 206));
}

#Profile-picture {
border-radius: 46%;
width: 150px;
padding: 10px;

}

#menu {
  position: sticky;
  top: 0;
  z-index: 4;
}

#projects {
  height: 104vh;
  padding-top: 1vh;
  padding-right: 5vh;
}

.text-effect {
  color: rgb(241, 205, 136);
  font-family: Impact;
  font-weight: bolder;
  font-size: xx-large;
  text-shadow: 0px 0px 0 rgb(7, 7, -29), -1px 1px 0 rgb(-21, -21, -57),
    -2px 2px 0 rgb(-49, -49, -85), -3px 3px 0 rgb(-77, -77, -113),
    -4px 4px 0 rgb(-104, -104, -140), -5px 5px 0 rgb(-132, -132, -168),
    -6px 6px 0 rgb(-160, -160, -196), -7px 7px 0 rgb(-188, -188, -224),
    -8px 8px 0 rgb(-216, -216, -252), -9px 9px 0 rgb(-244, -244, -280),
    -10px 10px 90px rgba(108, 217, 206, 0.16),
    -10px 10px 90px rgba(108, 217, 206, 0.5),
    0px 0px 120px rgba(108, 217, 206, 0.2);
  word-spacing: 6px;
  -webkit-filter: drop-shadow(5px 5px 50px #222);
  filter: drop-shadow(3px 3px 3px rgb(108, 217, 206));
}

.text-effect-btn {
  color: wheat;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  text-shadow: 0px 0px 0 rgb(7, 7, -29), -1px 1px 0 rgb(-21, -21, -57),
    -2px 2px 0 rgb(-49, -49, -85), -3px 3px 0 rgb(-77, -77, -113),
    -4px 4px 0 rgb(-104, -104, -140), -5px 5px 0 rgb(-132, -132, -168),
    -6px 6px 0 rgb(-160, -160, -196), -7px 7px 0 rgb(-188, -188, -224),
    -8px 8px 0 rgb(-216, -216, -252), -9px 9px 0 rgb(-244, -244, -280);
}

textarea {
  height: 6rem !important;
}

.row {
  margin-bottom: 10px;
}


.carousel {
  height: 500px;
}

.carousel 
.carousel-item  {
  width: 300px !important;
  height: 300px !important;
  margin-top: -100px;
  padding-bottom: -500px;
}

 */
