.card-img-top {
    min-height: 230px;
    min-width: 230px;
    max-height: 200px;
    }

  .card-body {
    padding: 10px;
    min-height: 220px;
  }
.card { 
  margin: 5px;
}
  
.card-title {
  background-color: rgba(13, 109, 253, 0.589);
  width: 100%;
}

